
@{
    ViewBag.Title = "Detail";
}
<style>
    .small-icon{
        height:50px;
        width:50px;
    }
</style>

<h2 style="text-align:center">Details</h2>
<h3 style="text-align:left">Title of Car</h3>
<div class="container-sm my-0">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://mcdn.wallpapersafari.com/medium/67/93/56xGT3.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Honda Corolla</h5>
                    <p>Riding The beast</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://www.autoguide.com/blog/wp-content/gallery/new-honda-civic-vs-toyota-corolla/Honda-Civic-vs-Toyota-Corolla-spec-comparison-1.jpg" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Honda Civic</h5>
                    <p>Riding The beast</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://wallpapercave.com/wp/wp4553201.jpg" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Suzuki Alto</h5>
                    <p>Riding The beast.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<br />
<br />

<div>
    <h3 style="text-align:left">Title of Car</h3>
    <h3 style="text-align: left; color: lightgreen">Price PKR</h3>
</div>


<p><span><img src="https://cdn-icons-png.flaticon.com/512/747/747310.png" class="small-icon" /></span>&emsp;&emsp; month </p>
<hr />
<p><span><img src="https://cdn-icons.flaticon.com/png/512/1256/premium/1256936.png?token=exp=1638903104~hmac=e9a44c7a639f3a0768df3fd9596d4398" class="small-icon" /></span>&emsp;&emsp;speedometer </p>
<hr />
<p><span><img src="https://cdn-icons-png.flaticon.com/512/115/115101.png" style="height:50px; width:50px" /></span>&emsp;&emsp; month </p>
<hr />
<p><span><img src="https://cdn-icons.flaticon.com/png/512/2260/premium/2260179.png?token=exp=1638903668~hmac=bceb7a995bfac88c982669176258f383" class="small-icon" /></span>&emsp;&emsp; month </p>
<hr />


<p><b>Detail Name: </b>Details Description</p>
<hr />
<p><b>Detail Name: </b>Details Description</p>
<hr />
<p><b>Detail Name: </b>Details Description</p>
<hr />
<p><b>Detail Name: </b>Details Description</p>
<hr />
<h4>Seller Comments</h4>
<hr />

//for loop wiil be used to print evry comment
<p>Comment line 1</p>
<h2>@ViewBag.id</h2>
