<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://pakwheelsaddetailsscrapper20211211160440.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/94301f34-324c-4ed3-b680-40e3da6280b7/resourcegroups/PakwheelsAdDetailsScrapper20211211160440ResourceGroup/providers/Microsoft.Web/sites/PakwheelsAdDetailsScrapper20211211160440</ResourceId>
    <UserName>$PakwheelsAdDetailsScrapper20211211160440</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://pakwheelsaddetailsscrapper20211211160440.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>